<a href="https://colab.research.google.com/github/BillieBurden/digital-history-2026/blob/main/Boarding_Cleanser_Script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from google.colab import drive

drive.mount('drive')
file_path = ('drive/MyDrive/Colab Notebooks/schools.csv')

df = pd.read_csv(file_path)
df.head()

Drive already mounted at drive; to attempt to forcibly remount, call drive.mount("drive", force_remount=True).

,School,School.1,State,join_id,operation_dates,religions_identified,tribes_identified,DOI deceased,WP deceased,DOI burial sites,WP burial sites,other_names,Latitude,Longitude,Verified
0,Chemawa Indian Training School,[Chemawa Indian Training School](https://githu...,OR,352,1880 - Open,NaN,"Alaskan; Aleut, Unangan; Alsea Yaquina from Si...",53,268,1 onsite,NaN,Salem Indian School; United States Indian Trai...,45.00124103,-122.9867162,TRUE
1,Carlisle Indian Industrial School,[Carlisle Indian Industrial School](https://gi...,PA,360,1879 - 1918,NaN,"Alaskan; Aleut, Unangan; Apache; Arapaho, Arap...",189,232,1 onsite,4 offsite,Carlisle Training School,40.208424,-77.178144,TRUE
2,Haskell Indian Industrial Training School,[Haskell Indian Industrial Training School](ht...,KS,128,1884 - Open,NaN,"Apache; Arapaho, Arapahoe; Arikara, Arickaree,...",23,146,2 onsite,NaN,United States Indian Industrial Training Schoo...,38.93972222,-95.23277778,TRUE
3,Fort Hall Boarding School,[Fort Hall Boarding School](https://github.com...,ID,110,1874 - 1936,NaN,"Assiniboine; Bannock, Northern Paiute; Chippew...",15,110,NaN,1 offsite,Lincoln Creek Boarding School,43.01285009,-112.4314679,TRUE
4,"Sherman Institute: Riverside, CA",[Sherman Institute](https://github.com/washing...,CA,78,1902 - Open,NaN,"Alaskan; Apache; Arapaho, Arapahoe; Arikara, A...",28,100,1 onsite,NaN,Riverside School; Sherman Indian High School*;...,33.92324939,-117.4371059,TRUE

In [4]:
df.isnull().sum()

School                    0
School.1                  0
State                     0
join_id                   0
operation_dates           7
religions_identified    208
tribes_identified         0
DOI deceased              0
WP deceased               0
DOI burial sites        353
WP burial sites         361
other_names              56
Latitude                 14
Longitude                14
Verified                 14
dtype: int64

In [12]:
df.drop(columns= ['religions_identified', 'School.1'])

,School,State,join_id,operation_dates,tribes_identified,DOI deceased,WP deceased,DOI burial sites,WP burial sites,other_names,Latitude,Longitude,Verified
0,Chemawa Indian Training School,OR,352,1880 - Open,"Alaskan; Aleut, Unangan; Alsea Yaquina from Si...",53,268,1 onsite,NaN,Salem Indian School; United States Indian Trai...,45.00124103,-122.9867162,TRUE
1,Carlisle Indian Industrial School,PA,360,1879 - 1918,"Alaskan; Aleut, Unangan; Apache; Arapaho, Arap...",189,232,1 onsite,4 offsite,Carlisle Training School,40.208424,-77.178144,TRUE
2,Haskell Indian Industrial Training School,KS,128,1884 - Open,"Apache; Arapaho, Arapahoe; Arikara, Arickaree,...",23,146,2 onsite,NaN,United States Indian Industrial Training Schoo...,38.93972222,-95.23277778,TRUE
3,Fort Hall Boarding School,ID,110,1874 - 1936,"Assiniboine; Bannock, Northern Paiute; Chippew...",15,110,NaN,1 offsite,Lincoln Creek Boarding School,43.01285009,-112.4314679,TRUE
4,"Sherman Institute: Riverside, CA",CA,78,1902 - Open,"Alaskan; Apache; Arapaho, Arapahoe; Arikara, A...",28,100,1 onsite,NaN,Riverside School; Sherman Indian High School*;...,33.92324939,-117.4371059,TRUE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,St. Michael's Manual Labor School,ND,258,1874 - 1885 | 1880 - 1890,Sioux,0,0,NaN,NaN,St. Michael's Mission School; Seven Dolors Mis...,47.984633,-98.871105,TRUE
414,C. L. Halls' Congregational Mission Home School,ND,260,1876 - 1904 | 1892 - 1940,"Arikara, Arickaree, Arikaree; Gros Ventre, Aan...",0,0,NaN,NaN,Charles Lemon Hall; Fort Berthold Mission Boar...,47.584728,-102.153229,FALSE
415,Cherokee Female Seminary,AZ,277,1852 - 1889 | 1889 - 1909,"Cherokee; Chickasaw, Chikashsha; Five Tribes, ...",0,0,NaN,NaN,Cherokee Academy,35.86747222,-94.95591667,TRUE
416,Sacred Heart Mission School,OK,296,1880 - 1946 | 1880 - 1946,"Osage; Potawatomi, Potawatomie, Pottawatomie, ...",0,0,1 onsite,NaN,St. Benedict's Industrial School; Sacred Heart...,35.00094444,-96.80997222,TRUE
417,Klamath Agency / Yainax Boarding School,OR,351,1882 - 1916,"Goshute, Deer Creek, Snake Creek, Newe, Newene...",0,0,NaN,NaN,Yainax Industrial and Day School; Yainax Train...,42.44133333,-121.2709167,FALSE